fastapi~=0.116.1
uvicorn[standard]~=0.35.0
sqlalchemy~=2.0.41
python-multipart
mysqlclient
alembic
passlib[bcrypt]~=1.7.4
python-jose[cryptography]~=3.5.0
pydantic[email]~=2.11.7
pydantic-settings~=2.10.1
pytest~=8.4.1
pytest-cov
httpx